  <!-- Header -->
    <!-- <a name="about"></a> -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Giorgio G. Alberti</h1>
                        <h3>Medico Psicoterapeuta - Specializzato in Psichiatria</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                            <li>
                                <a href="http://www.studiomedicodipsicoterapia.com" target=" _blank" class="btn btn-default btn-lg"><span class="network-name">Studio Psicoterapia</span></a>
                            </li>
                        </ul>
                        <p class="intro-icon"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
</i></p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

  <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading heading-section-a">Chi è Giorgio G. Alberti<br></h2>
                    <p class="lead">Medico Psicoterapeuta, Specializzato in Psichiatria, da anni si occupa di problematiche emotive e relazionali. La sua formazione psicoterapeutica è duplice, cognitivo-comportamentale e dinamico-esperienziale. La padronanza di questi due metodi gli permette di offrire percorsi curativi personalizzati in funzione delle problematiche e della personalità del singolo paziente, con una generale riduzione della durata delle terapie.</p>
                    <p class="lead">In quanto medico, il Dr. Alberti ha una solida competenza diagnostica, che gli consente di valutare anche le possibili cause organiche dei disturbi, spesso trascurate. Inoltre, in quanto psichiatra, egli può praticare anche una terapia psicofarmacologica, quando essa sia necessaria, specie in casi in cui una forte sofferenza ansiosa o depressiva non consenta una buona collaborazione al lavoro psicoterapeutico.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Psicoterapia in <br>Tedesco e Inglese</h2>
                    <p class="lead">Il Dr. Alberti è medico fiduciario dei consolati della Germania, dell’Austria e della Svizzera, e pratica la psicoterapia, oltre che in italiano, anche nelle lingue tedesca e inglese.</p>
                    <p class="lead">Lo Studio Medico di Psicoterapia del Dr. Alberti ha sede a Milano in P.za Lega Lombarda, 1.</p>
                    <p class="lead">AUTORIZZAZI0NE SANITARIA N.141167 del 14.02.2006</p> 
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive img-profile" src="img/alberti.png" alt="Dr. Giorgio G. Alberti">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading heading-section-a">Orari e Appuntamenti</h2>
                    <p class="lead">II Dr. Giorgio Alberti riceve per appuntamento telefonico o per e-mail nei pomeriggi di lunedi, martedi, mercoledi e giovedi.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <p class="feature-icon"><i class="fa fa-phone-square" aria-hidden="true"></i></p>
                    <p class="lead lead-section-a"><a href="tel:+33902347059">+39 02 347 059</a></p>
                    <p class="feature-icon"><i class="fa fa-envelope" aria-hidden="true"></i></p>
                    <p class="lead lead-section-a"><a href="mailto:dr.gg.alberti@studiomedicodipsicoterapia.com">dr.gg.alberti@studiomedicodipsicoterapia.com</a></p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

  <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Per maggiori informazioni:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                        <li>
                            <a href="http://www.studiomedicodipsicoterapia.com" target=" _blank" class="btn btn-default btn-lg"><span class="network-name">Studio Psicoterapia</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->